Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

File: src/backend/utils/index.js
  src/backend/utils/index.js
Owners: @project-leads

File: src/backend/utils/logger.js
  src/backend/utils/logger.js
Owners: @project-leads

File: src/backend/utils/requestTimeout.js
  src/backend/utils/requestTimeout.js
Owners: @project-leads

File: src/backend/utils/shutdown.js
  src/backend/utils/shutdown.js
Owners: @project-leads

File: .editorconfig
  .editorconfig
Owners: @project-leads

File: .gitignore
  .gitignore
Owners: @project-leads

File: CHANGELOG.md
  CHANGELOG.md
Owners: @project-leads

File: CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @project-leads

File: README.md
  README.md
Owners: @project-leads

File: SECURITY.md
  SECURITY.md
Owners: @project-leads

File: .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-leads

File: .github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

File: .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

File: .github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

File: .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: @devops-team

File: blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @project-leads

File: blitzy/documentation/Technical Specifications_7d5de2e9-ca7e-43db-ab9a-89d11f7485e5.md
  blitzy/documentation/Technical Specifications_7d5de2e9-ca7e-43db-ab9a-89d11f7485e5.md
Owners: @project-leads

File: docs/architecture/decisions.md
  docs/architecture/decisions.md
Owners: @project-leads, @technical-writers

File: docs/architecture/overview.md
  docs/architecture/overview.md
Owners: @project-leads, @technical-writers

File: docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @project-leads, @technical-writers

File: docs/development/testing.md
  docs/development/testing.md
Owners: @project-leads, @technical-writers

File: docs/operation/deployment.md
  docs/operation/deployment.md
Owners: @project-leads, @technical-writers

File: docs/operation/monitoring.md
  docs/operation/monitoring.md
Owners: @project-leads, @technical-writers

File: docs/operation/troubleshooting.md
  docs/operation/troubleshooting.md
Owners: @project-leads, @technical-writers

File: infrastructure/docker/.dockerignore
  infrastructure/docker/.dockerignore
Owners: @devops-team, @security-team

File: infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile
Owners: @devops-team, @security-team

File: infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team, @security-team

File: infrastructure/kubernetes/deployment.yaml
  infrastructure/kubernetes/deployment.yaml
Owners: @devops-team, @security-team

File: infrastructure/kubernetes/service.yaml
  infrastructure/kubernetes/service.yaml
Owners: @devops-team, @security-team

File: infrastructure/monitoring/README.md
  infrastructure/monitoring/README.md
Owners: @devops-team, @security-team

File: infrastructure/monitoring/health-check.js
  infrastructure/monitoring/health-check.js
Owners: @devops-team, @security-team

File: infrastructure/nginx/default.conf
  infrastructure/nginx/default.conf
Owners: @devops-team, @security-team

File: infrastructure/nginx/nginx.conf
  infrastructure/nginx/nginx.conf
Owners: @devops-team, @security-team

File: infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

File: infrastructure/scripts/setup.sh
  infrastructure/scripts/setup.sh
Owners: @devops-team, @security-team

File: src/backend/.env
  src/backend/.env
Owners: @project-leads

File: src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

File: src/backend/.eslintrc.js
  src/backend/.eslintrc.js
Owners: @project-leads

File: src/backend/.gitignore
  src/backend/.gitignore
Owners: @project-leads

File: src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @project-leads

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team
