Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

File: README.md
  README.md
Owners: @project-leads

File: .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-leads

File: .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

File: .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

File: .github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team

File: .github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

File: blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @project-leads

File: blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @project-leads

File: blitzy/documentation/Technical Specifications_a6a8f0e1-e582-406e-b7ca-8f64206a24a5.md
  blitzy/documentation/Technical Specifications_a6a8f0e1-e582-406e-b7ca-8f64206a24a5.md
Owners: @project-leads

File: docs/README.md
  docs/README.md
Owners: @project-leads, @technical-writers

File: docs/architecture/component-diagram.md
  docs/architecture/component-diagram.md
Owners: @project-leads, @technical-writers

File: docs/architecture/overview.md
  docs/architecture/overview.md
Owners: @project-leads, @technical-writers

File: docs/architecture/sequence-diagrams.md
  docs/architecture/sequence-diagrams.md
Owners: @project-leads, @technical-writers

File: docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @project-leads, @technical-writers

File: docs/development/getting-started.md
  docs/development/getting-started.md
Owners: @project-leads, @technical-writers

File: docs/development/git-workflow.md
  docs/development/git-workflow.md
Owners: @project-leads, @technical-writers

File: docs/operations/incident-response.md
  docs/operations/incident-response.md
Owners: @project-leads, @technical-writers

File: docs/operations/monitoring-guide.md
  docs/operations/monitoring-guide.md
Owners: @project-leads, @technical-writers

File: infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @security-team

File: infrastructure/cloud/app.yaml
  infrastructure/cloud/app.yaml
Owners: @devops-team, @security-team

File: infrastructure/cloud/heroku.yml
  infrastructure/cloud/heroku.yml
Owners: @devops-team, @security-team

File: infrastructure/cloud/vercel.json
  infrastructure/cloud/vercel.json
Owners: @devops-team, @security-team

File: infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.dev.yml
Owners: @devops-team, @security-team

File: infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @devops-team, @security-team

File: infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @devops-team, @security-team

File: infrastructure/kubernetes/backend-ingress.yaml
  infrastructure/kubernetes/backend-ingress.yaml
Owners: @devops-team, @security-team

File: infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @devops-team, @security-team

File: infrastructure/kubernetes/namespace.yaml
  infrastructure/kubernetes/namespace.yaml
Owners: @devops-team, @security-team

File: infrastructure/kubernetes/configmaps/backend-config.yaml
  infrastructure/kubernetes/configmaps/backend-config.yaml
Owners: @devops-team, @security-team

File: infrastructure/kubernetes/secrets/backend-secrets.yaml
  infrastructure/kubernetes/secrets/backend-secrets.yaml
Owners: @devops-team, @security-team

File: infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

File: infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

File: infrastructure/scripts/setup-env.sh
  infrastructure/scripts/setup-env.sh
Owners: @devops-team, @security-team

File: src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-leads

File: src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

File: src/backend/.eslintrc.js
  src/backend/.eslintrc.js
Owners: @project-leads

File: src/backend/.gitignore
  src/backend/.gitignore
Owners: @project-leads

File: src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @project-leads

File: src/backend/CHANGELOG.md
  src/backend/CHANGELOG.md
Owners: @project-leads

File: src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @project-leads

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team
