Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/settings/AudioSettings.tsx
  src/web/src/components/settings/AudioSettings.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/settings/LanguageSettings.tsx
  src/web/src/components/settings/LanguageSettings.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/settings/SettingsPanel.tsx
  src/web/src/components/settings/SettingsPanel.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/settings/VoiceSettings.tsx
  src/web/src/components/settings/VoiceSettings.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/shared/Button.tsx
  src/web/src/components/shared/Button.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/shared/ErrorBoundary.tsx
  src/web/src/components/shared/ErrorBoundary.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/shared/LoadingSpinner.tsx
  src/web/src/components/shared/LoadingSpinner.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/shared/Modal.tsx
  src/web/src/components/shared/Modal.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/shared/Toast.tsx
  src/web/src/components/shared/Toast.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/shared/Tooltip.tsx
  src/web/src/components/shared/Tooltip.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/config/audio.config.ts
  src/web/src/config/audio.config.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/config/i18n.config.ts
  src/web/src/config/i18n.config.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/config/index.ts
  src/web/src/config/index.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/config/routes.config.ts
  src/web/src/config/routes.config.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/config/websocket.config.ts
  src/web/src/config/websocket.config.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/constants/api.constants.ts
  src/web/src/constants/api.constants.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/constants/audio.constants.ts
  src/web/src/constants/audio.constants.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/constants/index.ts
  src/web/src/constants/index.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/constants/theme.constants.ts
  src/web/src/constants/theme.constants.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/constants/voice.constants.ts
  src/web/src/constants/voice.constants.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/constants/websocket.constants.ts
  src/web/src/constants/websocket.constants.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/hooks/useAudio.ts
  src/web/src/hooks/useAudio.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/hooks/useConversation.ts
  src/web/src/hooks/useConversation.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/hooks/useSettings.ts
  src/web/src/hooks/useSettings.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/hooks/useTheme.ts
  src/web/src/hooks/useTheme.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/hooks/useVoiceActivity.ts
  src/web/src/hooks/useVoiceActivity.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/hooks/useWebSocket.ts
  src/web/src/hooks/useWebSocket.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/locales/en/common.json
  src/web/src/locales/en/common.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/locales/en/errors.json
  src/web/src/locales/en/errors.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/locales/en/settings.json
  src/web/src/locales/en/settings.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/pages/ConversationPage.tsx
  src/web/src/pages/ConversationPage.tsx
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/pages/ErrorPage.tsx
  src/web/src/pages/ErrorPage.tsx
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/pages/LandingPage.tsx
  src/web/src/pages/LandingPage.tsx
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/pages/SettingsPage.tsx
  src/web/src/pages/SettingsPage.tsx
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/services/api.service.ts
  src/web/src/services/api.service.ts
Owners: @frontend-team, @security-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/services/audio.service.ts
  src/web/src/services/audio.service.ts
Owners: @frontend-team, @security-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @frontend-team, @security-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/services/conversation.service.ts
  src/web/src/services/conversation.service.ts
Owners: @frontend-team, @security-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/services/storage.service.ts
  src/web/src/services/storage.service.ts
Owners: @frontend-team, @security-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/services/voice.service.ts
  src/web/src/services/voice.service.ts
Owners: @frontend-team, @security-team
