Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/utils/logger.utils.ts
  src/backend/src/utils/logger.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/utils/validation.utils.ts
  src/backend/src/utils/validation.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/integration/conversation.test.ts
  src/backend/tests/integration/conversation.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/integration/session.test.ts
  src/backend/tests/integration/session.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/integration/voice.test.ts
  src/backend/tests/integration/voice.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/unit/services/audio.test.ts
  src/backend/tests/unit/services/audio.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/unit/services/auth.test.ts
  src/backend/tests/unit/services/auth.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/unit/services/conversation.test.ts
  src/backend/tests/unit/services/conversation.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/unit/services/session.test.ts
  src/backend/tests/unit/services/session.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/unit/utils/audio.test.ts
  src/backend/tests/unit/utils/audio.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/backend/tests/unit/utils/crypto.test.ts
  src/backend/tests/unit/utils/crypto.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/.env.example
  src/web/.env.example
Owners: @security-team, @devops-team

Add public-samples/ai-voice-call-rycqqy/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/.prettierrc
  src/web/.prettierrc
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/Dockerfile
  src/web/Dockerfile
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/README.md
  src/web/README.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/index.html
  src/web/index.html
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/package.json
  src/web/package.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/audio/AudioLevel.tsx
  src/web/src/components/audio/AudioLevel.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/audio/MicrophoneButton.tsx
  src/web/src/components/audio/MicrophoneButton.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/audio/VoiceActivityDisplay.tsx
  src/web/src/components/audio/VoiceActivityDisplay.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/audio/WaveformVisualizer.tsx
  src/web/src/components/audio/WaveformVisualizer.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/conversation/ConversationHistory.tsx
  src/web/src/components/conversation/ConversationHistory.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/conversation/MessageBubble.tsx
  src/web/src/components/conversation/MessageBubble.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/conversation/MessageInput.tsx
  src/web/src/components/conversation/MessageInput.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/conversation/MessageList.tsx
  src/web/src/components/conversation/MessageList.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/conversation/StatusIndicator.tsx
  src/web/src/components/conversation/StatusIndicator.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/layout/Header.tsx
  src/web/src/components/layout/Header.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/layout/MainLayout.tsx
  src/web/src/components/layout/MainLayout.tsx
Owners: @frontend-team, @accessibility-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/components/layout/Sidebar.tsx
  src/web/src/components/layout/Sidebar.tsx
Owners: @frontend-team, @accessibility-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team
