Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team

File: blitzy/documentation/Input Prompt_1708d07e-6845-4ab3-9711-f1c8a9fd0b46.md
  blitzy/documentation/Input Prompt_1708d07e-6845-4ab3-9711-f1c8a9fd0b46.md
Owners: @project-leads

File: blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @project-leads

File: blitzy/documentation/Technical Specifications_1ba86f16-d001-4a1e-809f-27bdc20ac6fb.md
  blitzy/documentation/Technical Specifications_1ba86f16-d001-4a1e-809f-27bdc20ac6fb.md
Owners: @project-leads

File: infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @security-team

File: infrastructure/deployment/helm/Chart.yml
  infrastructure/deployment/helm/Chart.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/helm/values.yml
  infrastructure/deployment/helm/values.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/helm/templates/deployment.yml
  infrastructure/deployment/helm/templates/deployment.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/helm/templates/ingress.yml
  infrastructure/deployment/helm/templates/ingress.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/helm/templates/service.yml
  infrastructure/deployment/helm/templates/service.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/kubernetes/configmap.yml
  infrastructure/deployment/kubernetes/configmap.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/kubernetes/deployment.yml
  infrastructure/deployment/kubernetes/deployment.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/kubernetes/namespace.yml
  infrastructure/deployment/kubernetes/namespace.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/kubernetes/secret.yml
  infrastructure/deployment/kubernetes/secret.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/kubernetes/service.yml
  infrastructure/deployment/kubernetes/service.yml
Owners: @devops-team, @security-team

File: infrastructure/deployment/terraform/main.tf
  infrastructure/deployment/terraform/main.tf
Owners: @devops-team, @security-team

File: infrastructure/deployment/terraform/outputs.tf
  infrastructure/deployment/terraform/outputs.tf
Owners: @devops-team, @security-team

File: infrastructure/deployment/terraform/terraform.tfvars.example
  infrastructure/deployment/terraform/terraform.tfvars.example
Owners: @devops-team, @security-team

File: infrastructure/deployment/terraform/variables.tf
  infrastructure/deployment/terraform/variables.tf
Owners: @devops-team, @security-team

File: infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.dev.yml
Owners: @devops-team, @security-team

File: infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @devops-team, @security-team

File: infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team, @security-team

File: infrastructure/docs/deployment.md
  infrastructure/docs/deployment.md
Owners: @devops-team, @security-team

File: infrastructure/docs/infrastructure.md
  infrastructure/docs/infrastructure.md
Owners: @devops-team, @security-team

File: infrastructure/docs/monitoring.md
  infrastructure/docs/monitoring.md
Owners: @devops-team, @security-team

File: infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/prometheus.yml
Owners: @devops-team, @security-team

File: infrastructure/monitoring/grafana/dashboards/app-metrics.json
  infrastructure/monitoring/grafana/dashboards/app-metrics.json
Owners: @devops-team, @security-team

File: infrastructure/monitoring/grafana/provisioning/dashboards/dashboard.yml
  infrastructure/monitoring/grafana/provisioning/dashboards/dashboard.yml
Owners: @devops-team, @security-team

File: infrastructure/monitoring/grafana/provisioning/datasources/prometheus.yml
  infrastructure/monitoring/grafana/provisioning/datasources/prometheus.yml
Owners: @devops-team, @security-team

File: infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

File: infrastructure/scripts/health-check.sh
  infrastructure/scripts/health-check.sh
Owners: @devops-team, @security-team

File: infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team, @security-team

File: infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @devops-team, @security-team

File: src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-leads

File: src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

File: src/backend/.eslintrc.js
  src/backend/.eslintrc.js
Owners: @project-leads

File: src/backend/.gitignore
  src/backend/.gitignore
Owners: @project-leads

File: src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @project-leads

File: src/backend/CHANGELOG.md
  src/backend/CHANGELOG.md
Owners: @project-leads

File: src/backend/README.md
  src/backend/README.md
Owners: @project-leads

File: src/backend/docker-compose.prod.yml
  src/backend/docker-compose.prod.yml
Owners: @project-leads
