Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @security-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/config/index.ts
  src/backend/src/config/index.ts
Owners: @security-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/config/logger.config.ts
  src/backend/src/config/logger.config.ts
Owners: @security-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/config/redis.config.ts
  src/backend/src/config/redis.config.ts
Owners: @security-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/config/speech.config.ts
  src/backend/src/config/speech.config.ts
Owners: @security-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/config/websocket.config.ts
  src/backend/src/config/websocket.config.ts
Owners: @security-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/constants/error.constants.ts
  src/backend/src/constants/error.constants.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/constants/index.ts
  src/backend/src/constants/index.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/constants/message.constants.ts
  src/backend/src/constants/message.constants.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/constants/voice.constants.ts
  src/backend/src/constants/voice.constants.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/db/repositories/conversation.repository.ts
  src/backend/src/db/repositories/conversation.repository.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/db/repositories/message.repository.ts
  src/backend/src/db/repositories/message.repository.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/db/repositories/session.repository.ts
  src/backend/src/db/repositories/session.repository.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/db/repositories/user.repository.ts
  src/backend/src/db/repositories/user.repository.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/interfaces/auth.interface.ts
  src/backend/src/interfaces/auth.interface.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/interfaces/conversation.interface.ts
  src/backend/src/interfaces/conversation.interface.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/interfaces/message.interface.ts
  src/backend/src/interfaces/message.interface.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/interfaces/session.interface.ts
  src/backend/src/interfaces/session.interface.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/interfaces/user.interface.ts
  src/backend/src/interfaces/user.interface.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/interfaces/voice.interface.ts
  src/backend/src/interfaces/voice.interface.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/audio/audioProcessor.service.ts
  src/backend/src/services/audio/audioProcessor.service.ts
Owners: @audio-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/audio/speechRecognition.service.ts
  src/backend/src/services/audio/speechRecognition.service.ts
Owners: @audio-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/audio/speechSynthesis.service.ts
  src/backend/src/services/audio/speechSynthesis.service.ts
Owners: @audio-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/audio/voiceActivity.service.ts
  src/backend/src/services/audio/voiceActivity.service.ts
Owners: @audio-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/auth/auth.service.ts
  src/backend/src/services/auth/auth.service.ts
Owners: @security-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/auth/jwt.service.ts
  src/backend/src/services/auth/jwt.service.ts
Owners: @security-team, @backend-team

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/conversation/conversation.service.ts
  src/backend/src/services/conversation/conversation.service.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/conversation/message.service.ts
  src/backend/src/services/conversation/message.service.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/session/session.service.ts
  src/backend/src/services/session/session.service.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/storage/audioStorage.service.ts
  src/backend/src/services/storage/audioStorage.service.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/websocket/audioStream.handler.ts
  src/backend/src/services/websocket/audioStream.handler.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/websocket/connection.handler.ts
  src/backend/src/services/websocket/connection.handler.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/services/websocket/websocket.service.ts
  src/backend/src/services/websocket/websocket.service.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/types/audio.types.ts
  src/backend/src/types/audio.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/types/common.types.ts
  src/backend/src/types/common.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/types/config.types.ts
  src/backend/src/types/config.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/types/websocket.types.ts
  src/backend/src/types/websocket.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/utils/audio.utils.ts
  src/backend/src/utils/audio.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/utils/crypto.utils.ts
  src/backend/src/utils/crypto.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/utils/error.utils.ts
  src/backend/src/utils/error.utils.ts
Owners: @project-leads

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team
