Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

Add public-samples/ai-voice-call-rycqqy/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/ai-voice-call-rycqqy/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team

Add public-samples/ai-voice-call-rycqqy/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team

Add public-samples/ai-voice-call-rycqqy/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team

Add public-samples/ai-voice-call-rycqqy/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/backend/hpa.yaml
  infrastructure/kubernetes/backend/hpa.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/backend/ingress.yaml
  infrastructure/kubernetes/backend/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/base/storage-class.yaml
  infrastructure/kubernetes/base/storage-class.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/cert-manager/certificate.yaml
  infrastructure/kubernetes/cert-manager/certificate.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/cert-manager/issuer.yaml
  infrastructure/kubernetes/cert-manager/issuer.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/istio/destination-rule.yaml
  infrastructure/kubernetes/istio/destination-rule.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/istio/gateway.yaml
  infrastructure/kubernetes/istio/gateway.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/istio/virtual-service.yaml
  infrastructure/kubernetes/istio/virtual-service.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/monitoring/alertmanager.yaml
  infrastructure/kubernetes/monitoring/alertmanager.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/web/deployment.yaml
  infrastructure/kubernetes/web/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/web/hpa.yaml
  infrastructure/kubernetes/web/hpa.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/web/ingress.yaml
  infrastructure/kubernetes/web/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/kubernetes/web/service.yaml
  infrastructure/kubernetes/web/service.yaml
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @security-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team
