Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team, @security-team

Add public-samples/ai-voice-call-rycqqy/src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

Add public-samples/ai-voice-call-rycqqy/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/README.md
  src/backend/README.md
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/package.json
  src/backend/package.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/prisma/migrations/0000_initial_schema.sql
  src/backend/prisma/migrations/0000_initial_schema.sql
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/controllers/auth.controller.ts
  src/backend/src/api/controllers/auth.controller.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/controllers/conversation.controller.ts
  src/backend/src/api/controllers/conversation.controller.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/controllers/session.controller.ts
  src/backend/src/api/controllers/session.controller.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/controllers/voice.controller.ts
  src/backend/src/api/controllers/voice.controller.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/middlewares/rateLimiter.middleware.ts
  src/backend/src/api/middlewares/rateLimiter.middleware.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/routes/auth.routes.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/routes/conversation.routes.ts
  src/backend/src/api/routes/conversation.routes.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/routes/index.ts
  src/backend/src/api/routes/index.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/routes/session.routes.ts
  src/backend/src/api/routes/session.routes.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/routes/voice.routes.ts
  src/backend/src/api/routes/voice.routes.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/validators/auth.validator.ts
  src/backend/src/api/validators/auth.validator.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/validators/conversation.validator.ts
  src/backend/src/api/validators/conversation.validator.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/validators/session.validator.ts
  src/backend/src/api/validators/session.validator.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/api/validators/voice.validator.ts
  src/backend/src/api/validators/voice.validator.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/backend/src/config/auth.config.ts
  src/backend/src/config/auth.config.ts
Owners: @security-team, @backend-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team
