Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

File: src/backend/CONTRIBUTING.md
  src/backend/CONTRIBUTING.md
Owners: @project-leads

File: src/backend/README.md
  src/backend/README.md
Owners: @project-leads

File: src/backend/app.js
  src/backend/app.js
Owners: @project-leads

File: src/backend/jest.config.js
  src/backend/jest.config.js
Owners: @project-leads

File: src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @project-leads

File: src/backend/package-lock.json
  src/backend/package-lock.json
Owners: @project-leads

File: src/backend/package.json
  src/backend/package.json
Owners: @project-leads

File: src/backend/server.js
  src/backend/server.js
Owners: @project-leads

File: src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @project-leads

File: src/backend/config/index.js
  src/backend/config/index.js
Owners: @project-leads

File: src/backend/docs/api.md
  src/backend/docs/api.md
Owners: @project-leads

File: src/backend/docs/architecture.md
  src/backend/docs/architecture.md
Owners: @project-leads

File: src/backend/docs/setup.md
  src/backend/docs/setup.md
Owners: @project-leads

File: src/backend/docs/testing.md
  src/backend/docs/testing.md
Owners: @project-leads

File: src/backend/middleware/errorHandler.js
  src/backend/middleware/errorHandler.js
Owners: @project-leads

File: src/backend/middleware/logger.js
  src/backend/middleware/logger.js
Owners: @project-leads

File: src/backend/routes/hello.js
  src/backend/routes/hello.js
Owners: @project-leads

File: src/backend/routes/index.js
  src/backend/routes/index.js
Owners: @project-leads

File: src/backend/scripts/lint.js
  src/backend/scripts/lint.js
Owners: @project-leads

File: src/backend/scripts/start.js
  src/backend/scripts/start.js
Owners: @project-leads

File: src/backend/scripts/test.js
  src/backend/scripts/test.js
Owners: @project-leads

File: src/backend/tests/app.test.js
  src/backend/tests/app.test.js
Owners: @qa-team

File: src/backend/tests/integration/hello.test.js
  src/backend/tests/integration/hello.test.js
Owners: @qa-team

File: src/backend/tests/middleware/logger.test.js
  src/backend/tests/middleware/logger.test.js
Owners: @qa-team

File: src/backend/tests/routes/hello.test.js
  src/backend/tests/routes/hello.test.js
Owners: @qa-team

File: src/backend/utils/errorTypes.js
  src/backend/utils/errorTypes.js
Owners: @project-leads

File: src/backend/utils/logger.js
  src/backend/utils/logger.js
Owners: @project-leads

File: src/backend/utils/responseFormatter.js
  src/backend/utils/responseFormatter.js
Owners: @project-leads

File: blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @project-leads

File: blitzy/documentation/Technical Specifications_59a379f8-7697-4fce-9586-9abe27e0cbd9.md
  blitzy/documentation/Technical Specifications_59a379f8-7697-4fce-9586-9abe27e0cbd9.md
Owners: @project-leads

File: .gitignore
  .gitignore
Owners: @project-leads

File: README.md
  README.md
Owners: @project-leads

File: .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-leads

File: .github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

File: .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

File: .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

File: .github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

File: .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team

File: .github/workflows/docker.yml
  .github/workflows/docker.yml
Owners: @devops-team

File: .github/workflows/security.yml
  .github/workflows/security.yml
Owners: @devops-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team
