Repository BhagyashreeBlitzy/ai-voice-call-rycqqy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @audio-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers, @api-team, @database-team, @sre-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/services/websocket.service.ts
  src/web/src/services/websocket.service.ts
Owners: @frontend-team, @security-team

Add public-samples/ai-voice-call-rycqqy/src/web/src/store/index.ts
  src/web/src/store/index.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/store/slices/audioSlice.ts
  src/web/src/store/slices/audioSlice.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/store/slices/conversationSlice.ts
  src/web/src/store/slices/conversationSlice.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/store/slices/settingsSlice.ts
  src/web/src/store/slices/settingsSlice.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/store/slices/uiSlice.ts
  src/web/src/store/slices/uiSlice.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/store/slices/userSlice.ts
  src/web/src/store/slices/userSlice.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/styles/animations.css
  src/web/src/styles/animations.css
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/styles/components.css
  src/web/src/styles/components.css
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/styles/global.css
  src/web/src/styles/global.css
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/styles/themes.css
  src/web/src/styles/themes.css
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/styles/variables.css
  src/web/src/styles/variables.css
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/theme/darkTheme.ts
  src/web/src/theme/darkTheme.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/theme/lightTheme.ts
  src/web/src/theme/lightTheme.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/theme/themeProvider.tsx
  src/web/src/theme/themeProvider.tsx
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/types/audio.types.ts
  src/web/src/types/audio.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/types/conversation.types.ts
  src/web/src/types/conversation.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/types/settings.types.ts
  src/web/src/types/settings.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/types/voice.types.ts
  src/web/src/types/voice.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/types/websocket.types.ts
  src/web/src/types/websocket.types.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/utils/audio.utils.ts
  src/web/src/utils/audio.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/utils/date.utils.ts
  src/web/src/utils/date.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/utils/storage.utils.ts
  src/web/src/utils/storage.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/utils/validation.utils.ts
  src/web/src/utils/validation.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/src/utils/webrtc.utils.ts
  src/web/src/utils/webrtc.utils.ts
Owners: @project-leads

Add public-samples/ai-voice-call-rycqqy/src/web/tests/e2e/conversation.cy.ts
  src/web/tests/e2e/conversation.cy.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/e2e/settings.cy.ts
  src/web/tests/e2e/settings.cy.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/e2e/voice.cy.ts
  src/web/tests/e2e/voice.cy.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/integration/conversation.test.tsx
  src/web/tests/integration/conversation.test.tsx
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/integration/settings.test.tsx
  src/web/tests/integration/settings.test.tsx
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/integration/voice.test.tsx
  src/web/tests/integration/voice.test.tsx
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/unit/components/audio.test.tsx
  src/web/tests/unit/components/audio.test.tsx
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/unit/components/conversation.test.tsx
  src/web/tests/unit/components/conversation.test.tsx
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/unit/components/settings.test.tsx
  src/web/tests/unit/components/settings.test.tsx
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/unit/hooks/useAudio.test.ts
  src/web/tests/unit/hooks/useAudio.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/unit/hooks/useConversation.test.ts
  src/web/tests/unit/hooks/useConversation.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/unit/services/audio.test.ts
  src/web/tests/unit/services/audio.test.ts
Owners: @qa-team

Add public-samples/ai-voice-call-rycqqy/src/web/tests/unit/services/conversation.test.ts
  src/web/tests/unit/services/conversation.test.ts
Owners: @qa-team

File: .editorconfig
  .editorconfig
Owners: @project-leads

File: .gitignore
  .gitignore
Owners: @project-leads

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase

# Default owners for unspecified files
* @project-leads

# Authentication and Authorization Services
# Requires security team review for all auth-related changes
src/backend/src/services/auth/** @security-team @backend-team

# Voice Processing and Audio Services
# Requires audio team expertise for voice/audio processing changes
src/backend/src/services/audio/** @audio-team @backend-team

# Security-Sensitive Configuration
# Requires security review for all config changes
src/backend/src/config/** @security-team @backend-team

# Frontend UI Components
# Requires accessibility review for UI changes
src/web/src/components/** @frontend-team @accessibility-team

# Frontend Services
# Requires security review for frontend service changes
src/web/src/services/** @frontend-team @security-team

# Infrastructure and Deployment
# Requires DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD Pipeline Configuration
# Requires DevOps team review
.github/workflows/** @devops-team

# Test Suites
# Requires QA team review
src/*/tests/** @qa-team

# Documentation
docs/** @project-leads @technical-writers

# Security Policies and Configurations
security/** @security-team

# API Specifications
api/** @backend-team @api-team

# Database Migrations and Schemas
prisma/** @backend-team @database-team

# Kubernetes Configurations
kubernetes/** @devops-team @security-team

# Monitoring and Observability
monitoring/** @devops-team @sre-team

# Environment Configurations
.env.* @security-team @devops-team
